@model IEnumerable<Grade>

@{
    ViewData["Title"] = "Успеваемость";
}

<h1>@ViewData["Title"]</h1>

<form method="get" asp-action="Grades">
    <div class="form-group">
        <input type="text" name="SearchTerm" class="form-control" placeholder="Искать по дисциплине..." />
    </div>
    <button type="submit" class="btn btn-primary">Искать</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Семестр</th>
            <th>Дисциплина</th>
            <th>Оценка</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>@item.Semester</td>
                    <td>@item.Subject</td>
                    <td>@item.Score</td>
                </tr>
        }
    </tbody>
</table>
