@{
    ViewData["Title"] = "Личный кабинет студента";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Grades">Успеваемость</a>
</p>
<p>
    <a asp-action="Achievements">Достижения</a>
</p>
<p>
    <a asp-action="Teachers">Преподаватели</a>
</p>
